{% extends 'app.twig' %}

{% block content %}
  <h1>{{ title }}</h1>
  <form action="{{ action }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="exampleInputEmail1">Nome</label>
      <input type="text" class="form-control" name="name" id="name" aria-describedby="name" placeholder="Ex: Recursos Humanos" value="{{ department.name }}">
      <small id="nameHelp" class="form-text text-muted">Escreva o nome por inteiro, evite abreviações.</small>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
{% endblock %}