{% extends 'app.twig' %}

{% block content %}
  <h1>{{ title }}</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      {% for department in departments %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ department.name }}</td>
            <td><a href="/departamentos/{{ department.id }}/editar" class="btn btn-info text-white"><i class="fa fa-edit"></i></a></td>
            <td><button data-href="/api/departamentos/{{ department.id }}" class="btn btn-danger text-white"><i class="fa fa-trash"></i></i></button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/departamentos/novo" class="btn btn-success">Novo</a>
{% endblock %}