.btn-rating {
  font-size:1.75rem;
  margin-right:10px;
  background: none;
  border: none;
  cursor: pointer;
}

.btn-rating.fa-thumbs-down {
  color: #cd0000;
}

.btn-rating.fa-thumbs-up {
  color: #008300;
}