{% extends 'app.twig' %}

{% block content %}
  <h1>{{ title }}</h1>
  <form action="{{ action }}" method="post" enctype="multipart/form-data">
    <div class="form-group">
      <label for="first_name">Nome</label>
      <input type="text" class="form-control" name="first_name" id="first_name" aria-describedby="first_name" placeholder="Primeiro nome" value="{{ employee.first_name }}">
    </div>
    <div class="form-group">
      <label for="last_name">Sobrenome</label>
      <input type="text" class="form-control" name="last_name" id="last_name" aria-describedby="last_name" placeholder="Sobrenome" value="{{ employee.last_name }}">
    </div>
    <div class="form-group">
      <label for="birth_date">Data de nascimento</label>
      <input class="form-control" type="date" id="birth_date" name="birth_date" value="{{ employee.birth_date|date("Y-m-d") }}">
    </div>
    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="gender" value="M" {% if employee.gender == 'M' %} checked {% endif %} {% if employee.gender is empty%} checked {% endif %}>
        <label class="form-check-label" for="gender">
          Masculino
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="gender" id="gender" value="F" {% if employee.gender == 'F' %} checked {% endif %}>
        <label class="form-check-label" for="gender">
          Feminino
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Departamento</label>
      <select class="form-control" id="department_id" name="department_id">
        {% for department in departments %}
          <option value="{{ department.id }}" {% if department.id == employee.department.id %} selected {% endif %}>{{ department.name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
{% endblock %}