{% extends 'app.twig' %}

{% block content %}
  <h1>{{ title }}</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome completo</th>
        <th scope="col">Gênero</th>
        <th scope="col">Nascimento</th>
        <th scope="col">Departamento</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
      </tr>
    </thead>
    <tbody>
      {% for employee in employees %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
            <td> {% if employee.gender == 'M' %} Masculino {% else %} Feminino {% endif %} </td>
            <td>{{ employee.birth_date | date("d/m/Y") }}</td>
            <td>{{ employee.department.name }}</td>
            <td><a href="/funcionarios/{{ employee.id }}/editar" class="btn btn-info text-white"><i class="fa fa-edit"></i></a></td>
            <td><button data-href="/api/funcionarios/{{ employee.id }}" class="btn btn-danger text-white"><i class="fa fa-trash"></i></i></button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="/funcionarios/novo" class="btn btn-success">Novo</a>
{% endblock %}