{% extends 'app.twig' %}

{% block content %}
  <h1>{{ title }}</h1>
  <small id="nameHelp" class="form-text text-muted">Encontre o seu nome e avalie a sua produtividade de hoje.</small>
  <div class="row">
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome completo</th>
          <th scope="col">Avaliação</th>
        </tr>
      </thead>
      <tbody>
        {% for employee in employees %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ employee.first_name }} {{ employee.last_name }}</td>
            <td scope="col">
            <button class="fa fa-thumbs-down btn-rating" data-value="down" data-href="/api/avaliacoes" data-employee-id="{{ employee.id }}"></button>
            <button class="fa fa-thumbs-up btn-rating" data-value="up" data-href="/api/avaliacoes" data-employee-id="{{ employee.id }}"></button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {# <a href="/funcionarios/novo" class="btn btn-success">Novo</a> #}
{% endblock %}