{% extends 'app.twig' %}

{% block content %}
  <h1>{{ title }}</h1>
  <div class="row mt-3">
    <div class="col-md-4 mb-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Total de avaliações</div>
        <div class="card-body">
          <h2 class="card-title text-center">{{ rating }}</h2>
          <p class="card-text text-center">nos últimos {{ days }} dias.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Avaliações de baixa produtividade</div>
        <div class="card-body">
          <h2 class="card-title text-center">{{ rating_down }}</h2>
          <p class="card-text text-center">nos últimos {{ days }} dias.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header text-center">Avaliações de alta produtividade</div>
        <div class="card-body">
          <h2 class="card-title text-center">{{ rating_up }}</h2>
          <p class="card-text text-center">nos últimos {{ days }} dias.</p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <a href="/relatorios/7" class="badge badge-light">Últimos 7 dias</a>
  <a href="/relatorios/30" class="badge badge-light">Últimos 30 dias</a>
  <a href="/relatorios/90" class="badge badge-light">Últimos 90 dias</a>

{% endblock %}